ExtractRecordFields.json
{"flowContents":{"identifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d","instanceIdentifier":"e030c4ed-0194-1000-5463-fd28ecc3c7d5","name":"ExtractRecordFields","comments":"","position":{"x":-944.0,"y":-1248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"328bb2df-eecc-33c4-b761-911d7559861a","instanceIdentifier":"7fe68260-bf28-3630-a539-f9fe80520977","name":"UpdateAttribute","comments":"","position":{"x":64.0,"y":256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","name":"${name:toUpper()}","Stateful Variables Initial Value":null,"fields":"${avro.schema:jsonPath('$.fields[*].name'):replaceAll('[\\\"\\[\\]]','|')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fields":{"name":"fields","displayName":"fields","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"},{"identifier":"39f84f84-01f0-3fc8-abb6-035f5f3c7fbb","instanceIdentifier":"e03e7fec-0194-1000-f2b3-de384e86cc87","name":"ExtractRecordSchema","comments":"","position":{"x":40.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.ExtractRecordSchema","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"cache-size":"10","record-reader":"67619b27-efd5-38d5-84de-5408f351eb49"},"propertyDescriptors":{"cache-size":{"name":"cache-size","displayName":"Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"},{"identifier":"a40198d5-632c-3d65-b0e6-a583b23aa065","instanceIdentifier":"d9d20803-6c0d-39c8-35de-c452940a1b67","name":"GenerateFlowFile","comments":"","position":{"x":32.0,"y":-336.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"text/csv","generate-ff-custom-text":"id,x,y\n1,Hello,2.0\n2,World,3.0","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3a51c318-e482-3121-aa31-0a147af72ca1","instanceIdentifier":"e0484f11-0194-1000-1304-8ce159010266","name":"","source":{"id":"39f84f84-01f0-3fc8-abb6-035f5f3c7fbb","type":"PROCESSOR","groupId":"21f1b8bc-896e-3c1a-9fa9-73be517f628d","name":"ExtractRecordSchema","comments":"","instanceIdentifier":"e03e7fec-0194-1000-f2b3-de384e86cc87"},"destination":{"id":"7d84bd85-1f70-3b94-a92e-9c3d276168f6","type":"FUNNEL","groupId":"21f1b8bc-896e-3c1a-9fa9-73be517f628d","name":"Funnel","comments":"","instanceIdentifier":"e0483a9b-0194-1000-c0fb-6011256873cc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"},{"identifier":"d1509b63-1bc9-39cd-8821-617e931f7cc3","instanceIdentifier":"e04081c6-0194-1000-eb0b-37c2d03db881","name":"","source":{"id":"a40198d5-632c-3d65-b0e6-a583b23aa065","type":"PROCESSOR","groupId":"21f1b8bc-896e-3c1a-9fa9-73be517f628d","name":"GenerateFlowFile","comments":"","instanceIdentifier":"d9d20803-6c0d-39c8-35de-c452940a1b67"},"destination":{"id":"39f84f84-01f0-3fc8-abb6-035f5f3c7fbb","type":"PROCESSOR","groupId":"21f1b8bc-896e-3c1a-9fa9-73be517f628d","name":"ExtractRecordSchema","comments":"","instanceIdentifier":"e03e7fec-0194-1000-f2b3-de384e86cc87"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"},{"identifier":"fa781453-134d-3411-9d04-16792f66d97c","instanceIdentifier":"210a8130-0dfe-33c6-6712-1b9be10887bf","name":"","source":{"id":"328bb2df-eecc-33c4-b761-911d7559861a","type":"PROCESSOR","groupId":"21f1b8bc-896e-3c1a-9fa9-73be517f628d","name":"UpdateAttribute","comments":"","instanceIdentifier":"7fe68260-bf28-3630-a539-f9fe80520977"},"destination":{"id":"e8ea588a-1161-3123-ab4f-e17f4e2f54f7","type":"FUNNEL","groupId":"21f1b8bc-896e-3c1a-9fa9-73be517f628d","name":"Funnel","comments":"","instanceIdentifier":"bd576534-d7f6-3d1d-8d89-eafe7cd9d608"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"},{"identifier":"d6bdfe2b-e550-3477-af5b-0e784d86a257","instanceIdentifier":"e0487a28-0194-1000-84dc-aeb23f9e6f02","name":"","source":{"id":"39f84f84-01f0-3fc8-abb6-035f5f3c7fbb","type":"PROCESSOR","groupId":"21f1b8bc-896e-3c1a-9fa9-73be517f628d","name":"ExtractRecordSchema","comments":"","instanceIdentifier":"e03e7fec-0194-1000-f2b3-de384e86cc87"},"destination":{"id":"328bb2df-eecc-33c4-b761-911d7559861a","type":"PROCESSOR","groupId":"21f1b8bc-896e-3c1a-9fa9-73be517f628d","name":"UpdateAttribute","comments":"","instanceIdentifier":"7fe68260-bf28-3630-a539-f9fe80520977"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"}],"labels":[],"funnels":[{"identifier":"7d84bd85-1f70-3b94-a92e-9c3d276168f6","instanceIdentifier":"e0483a9b-0194-1000-c0fb-6011256873cc","position":{"x":720.0,"y":-16.0},"componentType":"FUNNEL","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"},{"identifier":"e8ea588a-1161-3123-ab4f-e17f4e2f54f7","instanceIdentifier":"bd576534-d7f6-3d1d-8d89-eafe7cd9d608","position":{"x":720.0,"y":352.0},"componentType":"FUNNEL","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"}],"controllerServices":[{"identifier":"67619b27-efd5-38d5-84de-5408f351eb49","instanceIdentifier":"e03ed419-0194-1000-f230-9ea0a56e1194","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21f1b8bc-896e-3c1a-9fa9-73be517f628d"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}