fetchdata_from_azure_parquet_file (1).json
{"flowContents":{"identifier":"38165333-03bb-3597-9957-5a8dd3822907","instanceIdentifier":"ff9f8145-0194-1000-4526-d238f7e81d28","name":"fetchdata_from_azure_parquet_file","comments":"","position":{"x":-1368.0,"y":-832.0},"processGroups":[{"identifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","instanceIdentifier":"0061624c-0195-1000-1cb7-cab6909bdd18","name":"fileload_logic","comments":"","position":{"x":-544.0,"y":-2208.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0061d7f4-0195-1000-7d01-57bd452151aa","instanceIdentifier":"d85dc627-f914-3002-a092-51a1266c2df8","name":"FetchAzureDataLakeStorage","comments":"","position":{"x":-488.0,"y":-328.0},"type":"org.apache.nifi.processors.azure.storage.FetchAzureDataLakeStorage","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.2.0"},"properties":{"filesystem-name":"${azure.filesystem}","number-of-retries":"0","range-length":null,"range-start":null,"adls-credentials-service":"a1b5a719-9f61-3dd5-88f9-253e5ed1fced","proxy-configuration-service":null,"directory-name":"${azure.directory}","file-name":"${azure.filename}"},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"number-of-retries":{"name":"number-of-retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"0061d7f3-0195-1000-6fec-7325628452be","instanceIdentifier":"175c9f53-96fc-3f75-449e-d7abb99b7039","name":"ConvertRecord","comments":"","position":{"x":-504.0,"y":0.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"aa907a67-4183-30aa-a614-d53d445505b1","Record Reader":"7d735738-64af-390e-82a3-17fe9141b505"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"0061d7f2-0195-1000-ceb7-0d7e40f8c2ae","instanceIdentifier":"097ce3f1-4877-3617-9e78-03f8feaed6e8","name":"PutDatabaseRecord","comments":"","position":{"x":288.0,"y":40.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"test_nifif","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":"model","put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"0","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"true","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"7fe6ca32-ccc6-3b06-a5b7-5fa199d3d529","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"car_specs","put-db-record-record-reader":"fbc8cd26-053b-3fa0-835c-b73ad5a5a5d8"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":1,"retriedRelationships":["retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"}],"inputPorts":[{"identifier":"9263ab05-4ecd-381e-b42c-2c7bd0e8ef7b","instanceIdentifier":"006221c4-0195-1000-8df6-1080a263572f","name":"input_filename","position":{"x":-440.0,"y":-536.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"}],"outputPorts":[{"identifier":"3141b4a5-5b36-31c2-a53b-5a1a9e062f85","instanceIdentifier":"03066efb-0195-1000-53c3-5a9f0c6a4168","name":"success_output","position":{"x":952.0,"y":56.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"03068074-0195-1000-4867-0393f2d549b1","instanceIdentifier":"58560891-f899-3499-ab65-3c8c82da4817","name":"failure_output","position":{"x":656.0,"y":-280.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"}],"connections":[{"identifier":"0061d7f8-0195-1000-9a64-9e8d02d5ec10","instanceIdentifier":"96fd25bc-18ac-37b0-f1f5-abf8aaefbe81","name":"","source":{"id":"0061d7f2-0195-1000-ceb7-0d7e40f8c2ae","type":"PROCESSOR","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"097ce3f1-4877-3617-9e78-03f8feaed6e8"},"destination":{"id":"3141b4a5-5b36-31c2-a53b-5a1a9e062f85","type":"OUTPUT_PORT","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"success_output","instanceIdentifier":"03066efb-0195-1000-53c3-5a9f0c6a4168"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"0061d7f9-0195-1000-e08f-8c2ab6ee24c0","instanceIdentifier":"0c684773-f13d-3b7d-6662-eb635e4d9987","name":"","source":{"id":"0061d7f3-0195-1000-6fec-7325628452be","type":"PROCESSOR","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"ConvertRecord","comments":"","instanceIdentifier":"175c9f53-96fc-3f75-449e-d7abb99b7039"},"destination":{"id":"0061d7f2-0195-1000-ceb7-0d7e40f8c2ae","type":"PROCESSOR","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"097ce3f1-4877-3617-9e78-03f8feaed6e8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"0061d7fa-0195-1000-1d9b-557af0e48983","instanceIdentifier":"92d40a49-2cfb-3f1b-02f5-7f2dee865f2c","name":"","source":{"id":"0061d7f3-0195-1000-6fec-7325628452be","type":"PROCESSOR","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"ConvertRecord","comments":"","instanceIdentifier":"175c9f53-96fc-3f75-449e-d7abb99b7039"},"destination":{"id":"0061d7f7-0195-1000-61d5-504632b50f55","type":"FUNNEL","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"Funnel","comments":"","instanceIdentifier":"1d48bbe5-c8b5-38fa-9ec2-75a3259b7865"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"479a70f4-ac9c-32a0-b626-62b9b11d188c","instanceIdentifier":"006244c5-0195-1000-efdf-00b6a328c9a1","name":"","source":{"id":"9263ab05-4ecd-381e-b42c-2c7bd0e8ef7b","type":"INPUT_PORT","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"input_filename","instanceIdentifier":"006221c4-0195-1000-8df6-1080a263572f"},"destination":{"id":"0061d7f4-0195-1000-7d01-57bd452151aa","type":"PROCESSOR","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"FetchAzureDataLakeStorage","comments":"","instanceIdentifier":"d85dc627-f914-3002-a092-51a1266c2df8"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"0061d7fc-0195-1000-5f91-2674f2ca1a73","instanceIdentifier":"1f16d1e7-b7ae-36f4-9ab3-f00850ae062d","name":"","source":{"id":"0061d7f4-0195-1000-7d01-57bd452151aa","type":"PROCESSOR","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"FetchAzureDataLakeStorage","comments":"","instanceIdentifier":"d85dc627-f914-3002-a092-51a1266c2df8"},"destination":{"id":"0061d7f7-0195-1000-61d5-504632b50f55","type":"FUNNEL","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"Funnel","comments":"","instanceIdentifier":"1d48bbe5-c8b5-38fa-9ec2-75a3259b7865"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"0061d7fe-0195-1000-f147-300dd907dea7","instanceIdentifier":"02d563ac-29b8-3dc7-f058-23333740c79b","name":"","source":{"id":"0061d7f4-0195-1000-7d01-57bd452151aa","type":"PROCESSOR","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"FetchAzureDataLakeStorage","comments":"","instanceIdentifier":"d85dc627-f914-3002-a092-51a1266c2df8"},"destination":{"id":"0061d7f3-0195-1000-6fec-7325628452be","type":"PROCESSOR","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"ConvertRecord","comments":"","instanceIdentifier":"175c9f53-96fc-3f75-449e-d7abb99b7039"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"ce67852c-52b9-3e1f-979d-6bccf6972569","instanceIdentifier":"0306dc1e-0195-1000-62c9-e0d3ac8ab396","name":"","source":{"id":"0061d7f7-0195-1000-61d5-504632b50f55","type":"FUNNEL","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"Funnel","comments":"","instanceIdentifier":"1d48bbe5-c8b5-38fa-9ec2-75a3259b7865"},"destination":{"id":"03068074-0195-1000-4867-0393f2d549b1","type":"OUTPUT_PORT","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"failure_output","instanceIdentifier":"58560891-f899-3499-ab65-3c8c82da4817"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"},{"identifier":"0061d7fb-0195-1000-7d3a-7a9d5265eb6b","instanceIdentifier":"99f1b481-156a-3e64-9f36-200eab7b5266","name":"","source":{"id":"0061d7f2-0195-1000-ceb7-0d7e40f8c2ae","type":"PROCESSOR","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"097ce3f1-4877-3617-9e78-03f8feaed6e8"},"destination":{"id":"0061d7f7-0195-1000-61d5-504632b50f55","type":"FUNNEL","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"Funnel","comments":"","instanceIdentifier":"1d48bbe5-c8b5-38fa-9ec2-75a3259b7865"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"}],"labels":[],"funnels":[{"identifier":"0061d7f7-0195-1000-61d5-504632b50f55","instanceIdentifier":"1d48bbe5-c8b5-38fa-9ec2-75a3259b7865","position":{"x":424.0,"y":-272.0},"componentType":"FUNNEL","groupIdentifier":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"}],"remoteProcessGroups":[],"processors":[{"identifier":"f1bf7bb6-5252-361f-b72c-97fbecc8dbf7","instanceIdentifier":"032aff54-0195-1000-4e4b-dc847bc43bfc","name":"PutFile","comments":"","position":{"x":-1008.0,"y":-1872.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\dkashyap\\OneDrive - Hitachi Vantara\\MyWork_deepak\\nifi\\parquet_load\\process","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"dfd8c997-f4a0-3b35-b568-14bb03e38b9a","instanceIdentifier":"ffac6dc2-0194-1000-765b-911731d94456","name":"ListAzureDataLakeStorage","comments":"","position":{"x":-1256.0,"y":-2184.0},"type":"org.apache.nifi.processors.azure.storage.ListAzureDataLakeStorage","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.2.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"record-writer":null,"proxy-configuration-service":null,"Maximum File Size":null,"et-time-window":"3 hours","recurse-subdirectories":"true","filesystem-name":"nificontainer","listing-strategy":"none","adls-credentials-service":"a1b5a719-9f61-3dd5-88f9-253e5ed1fced","Minimum File Size":"0 B","directory-name":"parquet","et-state-cache":null,"file-filter":null,"include-temporary-files":"false","path-filter":null},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"recurse-subdirectories":{"name":"recurse-subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"file-filter":{"name":"file-filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"include-temporary-files":{"name":"include-temporary-files","displayName":"Include Temporary Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"path-filter":{"name":"path-filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"65e8d211-1e96-3981-a2c9-216d2bede51f","instanceIdentifier":"030c620b-0195-1000-b9c9-547d09821b39","name":"","source":{"id":"3141b4a5-5b36-31c2-a53b-5a1a9e062f85","type":"OUTPUT_PORT","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"success_output","instanceIdentifier":"03066efb-0195-1000-53c3-5a9f0c6a4168"},"destination":{"id":"f1bf7bb6-5252-361f-b72c-97fbecc8dbf7","type":"PROCESSOR","groupId":"38165333-03bb-3597-9957-5a8dd3822907","name":"PutFile","comments":"","instanceIdentifier":"032aff54-0195-1000-4e4b-dc847bc43bfc"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.NewestFlowFileFirstPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"77ad250b-8291-326f-b0f1-cfc0c0542f02","instanceIdentifier":"032e9f72-0195-1000-6ce4-b54ca247b1f8","name":"","source":{"id":"f1bf7bb6-5252-361f-b72c-97fbecc8dbf7","type":"PROCESSOR","groupId":"38165333-03bb-3597-9957-5a8dd3822907","name":"PutFile","comments":"","instanceIdentifier":"032aff54-0195-1000-4e4b-dc847bc43bfc"},"destination":{"id":"9dad7317-5542-3873-ba20-9469b8220201","type":"FUNNEL","groupId":"38165333-03bb-3597-9957-5a8dd3822907","name":"Funnel","comments":"","instanceIdentifier":"032e8a43-0195-1000-b488-49bbaf8270b0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"9a6e047f-5837-37dc-8c15-bdbe811d73d3","instanceIdentifier":"ffb46ba2-0194-1000-c261-88b55f92eb53","name":"","source":{"id":"dfd8c997-f4a0-3b35-b568-14bb03e38b9a","type":"PROCESSOR","groupId":"38165333-03bb-3597-9957-5a8dd3822907","name":"ListAzureDataLakeStorage","comments":"","instanceIdentifier":"ffac6dc2-0194-1000-765b-911731d94456"},"destination":{"id":"9263ab05-4ecd-381e-b42c-2c7bd0e8ef7b","type":"INPUT_PORT","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"input_filename","instanceIdentifier":"006221c4-0195-1000-8df6-1080a263572f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"278549d3-b2b4-3da2-805b-aab710067e6b","instanceIdentifier":"032eb4d2-0195-1000-abb8-5e7c4e5cd324","name":"","source":{"id":"f1bf7bb6-5252-361f-b72c-97fbecc8dbf7","type":"PROCESSOR","groupId":"38165333-03bb-3597-9957-5a8dd3822907","name":"PutFile","comments":"","instanceIdentifier":"032aff54-0195-1000-4e4b-dc847bc43bfc"},"destination":{"id":"030c4066-0195-1000-f24f-27f8326fc0ff","type":"FUNNEL","groupId":"38165333-03bb-3597-9957-5a8dd3822907","name":"Funnel","comments":"","instanceIdentifier":"1274a60f-79bf-3081-affd-80662fbe9b31"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"6a23ff4c-bcc2-3128-84f7-8f4f72f409c8","instanceIdentifier":"030c7827-0195-1000-1d23-ca6c65f0246d","name":"","source":{"id":"03068074-0195-1000-4867-0393f2d549b1","type":"OUTPUT_PORT","groupId":"7a0eaf23-51d7-3c8d-b2db-48a9513a87ca","name":"failure_output","instanceIdentifier":"58560891-f899-3499-ab65-3c8c82da4817"},"destination":{"id":"030c4066-0195-1000-f24f-27f8326fc0ff","type":"FUNNEL","groupId":"38165333-03bb-3597-9957-5a8dd3822907","name":"Funnel","comments":"","instanceIdentifier":"1274a60f-79bf-3081-affd-80662fbe9b31"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.NewestFlowFileFirstPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"}],"labels":[],"funnels":[{"identifier":"030c4066-0195-1000-f24f-27f8326fc0ff","instanceIdentifier":"1274a60f-79bf-3081-affd-80662fbe9b31","position":{"x":-240.0,"y":-1752.0},"componentType":"FUNNEL","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"9dad7317-5542-3873-ba20-9469b8220201","instanceIdentifier":"032e8a43-0195-1000-b488-49bbaf8270b0","position":{"x":-848.0,"y":-1528.0},"componentType":"FUNNEL","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"}],"controllerServices":[{"identifier":"7d735738-64af-390e-82a3-17fe9141b505","instanceIdentifier":"00305849-0195-1000-c406-abcb541d55e5","name":"ParquetReader","comments":"","type":"org.apache.nifi.parquet.ParquetReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.2.0"},"properties":{"avro-read-compatibility":"true"},"propertyDescriptors":{"avro-read-compatibility":{"name":"avro-read-compatibility","displayName":"Avro Read Compatibility","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"7fe6ca32-ccc6-3b06-a5b7-5fa199d3d529","instanceIdentifier":"0044e624-0195-1000-f03f-bc24573e6881","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://10.78.166.34:5432/kpi_metrics","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"aa907a67-4183-30aa-a614-d53d445505b1","instanceIdentifier":"0030fcff-0195-1000-e4f7-d4555b010a4f","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"a1b5a719-9f61-3dd5-88f9-253e5ed1fced","instanceIdentifier":"ffa29ecf-0194-1000-481e-5bb2bc06b7cf","name":"ADLSCredentialsControllerService","comments":"","type":"org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.2.0"},"properties":{"storage-endpoint-suffix":"dfs.core.windows.net","proxy-configuration-service":null,"credentials-type":"ACCOUNT_KEY"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-client-secret":{"name":"service-principal-client-secret","displayName":"Service Principal Client Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Endpoint Suffix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"storage-account-key":{"name":"storage-account-key","displayName":"Account Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-tenant-id":{"name":"service-principal-tenant-id","displayName":"Service Principal Tenant ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-client-id":{"name":"service-principal-client-id","displayName":"Service Principal Client ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"credentials-type":{"name":"credentials-type","displayName":"Credentials Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"managed-identity-client-id":{"name":"managed-identity-client-id","displayName":"Managed Identity Client ID","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.azure.storage.ADLSCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"},{"identifier":"fbc8cd26-053b-3fa0-835c-b73ad5a5a5d8","instanceIdentifier":"0044201b-0195-1000-459f-0d38a224f291","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38165333-03bb-3597-9957-5a8dd3822907"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}