Flow_File_generate_data (3).json
{"flowContents":{"identifier":"babf2e5a-9c70-3653-904c-f02a09327c34","instanceIdentifier":"cb05d198-0194-1000-eb8f-506fc7f24e8b","name":"Flow_File_generate_data","comments":"","position":{"x":-1360.0,"y":-1232.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"328bb2df-eecc-33c4-b761-911d7559861a","instanceIdentifier":"75895aec-430e-3ad2-0c61-bdb95d9841ae","name":"UpdateAttribute","comments":"","position":{"x":392.0,"y":392.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"fields":"${avro.schema:jsonPath('$.fields[*].name'):replaceAll('[\\\"\\[\\]]','')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fields":{"name":"fields","displayName":"fields","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"babf2e5a-9c70-3653-904c-f02a09327c34"},{"identifier":"4ab8f025-2011-398d-b224-cd543224b4f6","instanceIdentifier":"7c114d0a-2f58-3862-adc9-3e5841ac4ea7","name":"ExtractRecordSchema","comments":"","position":{"x":392.0,"y":184.0},"type":"org.apache.nifi.processors.standard.ExtractRecordSchema","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"cache-size":"10","record-reader":"7af764bf-e0f7-31eb-ad0d-eacbe7d05b1e"},"propertyDescriptors":{"cache-size":{"name":"cache-size","displayName":"Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"babf2e5a-9c70-3653-904c-f02a09327c34"},{"identifier":"a40198d5-632c-3d65-b0e6-a583b23aa065","instanceIdentifier":"32858e76-2a58-364e-37f4-3618f4a14ea8","name":"GenerateFlowFile","comments":"","position":{"x":392.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"text/csv","generate-ff-custom-text":"id,x,y\n1,Hello,2.0\n2,World,3.0","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"babf2e5a-9c70-3653-904c-f02a09327c34"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"54d53ebe-6ebb-3691-8a10-61f4231b2c14","instanceIdentifier":"1f32941d-0297-3912-0c47-a25a8f5b00ef","name":"","source":{"id":"a40198d5-632c-3d65-b0e6-a583b23aa065","type":"PROCESSOR","groupId":"babf2e5a-9c70-3653-904c-f02a09327c34","name":"GenerateFlowFile","comments":"","instanceIdentifier":"32858e76-2a58-364e-37f4-3618f4a14ea8"},"destination":{"id":"4ab8f025-2011-398d-b224-cd543224b4f6","type":"PROCESSOR","groupId":"babf2e5a-9c70-3653-904c-f02a09327c34","name":"ExtractRecordSchema","comments":"","instanceIdentifier":"7c114d0a-2f58-3862-adc9-3e5841ac4ea7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"babf2e5a-9c70-3653-904c-f02a09327c34"},{"identifier":"fa781453-134d-3411-9d04-16792f66d97c","instanceIdentifier":"9940c759-a5bc-3959-f667-665b515a621f","name":"","source":{"id":"328bb2df-eecc-33c4-b761-911d7559861a","type":"PROCESSOR","groupId":"babf2e5a-9c70-3653-904c-f02a09327c34","name":"UpdateAttribute","comments":"","instanceIdentifier":"75895aec-430e-3ad2-0c61-bdb95d9841ae"},"destination":{"id":"e8ea588a-1161-3123-ab4f-e17f4e2f54f7","type":"FUNNEL","groupId":"babf2e5a-9c70-3653-904c-f02a09327c34","name":"Funnel","comments":"","instanceIdentifier":"b33b0da7-f978-3008-6e10-64f811c5a1a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"babf2e5a-9c70-3653-904c-f02a09327c34"},{"identifier":"d75b4a34-394a-31fa-84d4-3e10f51b4a9a","instanceIdentifier":"30620687-7004-3db6-3c4c-6c12f125ef53","name":"","source":{"id":"4ab8f025-2011-398d-b224-cd543224b4f6","type":"PROCESSOR","groupId":"babf2e5a-9c70-3653-904c-f02a09327c34","name":"ExtractRecordSchema","comments":"","instanceIdentifier":"7c114d0a-2f58-3862-adc9-3e5841ac4ea7"},"destination":{"id":"328bb2df-eecc-33c4-b761-911d7559861a","type":"PROCESSOR","groupId":"babf2e5a-9c70-3653-904c-f02a09327c34","name":"UpdateAttribute","comments":"","instanceIdentifier":"75895aec-430e-3ad2-0c61-bdb95d9841ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"babf2e5a-9c70-3653-904c-f02a09327c34"}],"labels":[],"funnels":[{"identifier":"e8ea588a-1161-3123-ab4f-e17f4e2f54f7","instanceIdentifier":"b33b0da7-f978-3008-6e10-64f811c5a1a2","position":{"x":544.0,"y":600.0},"componentType":"FUNNEL","groupIdentifier":"babf2e5a-9c70-3653-904c-f02a09327c34"}],"controllerServices":[{"identifier":"7af764bf-e0f7-31eb-ad0d-eacbe7d05b1e","instanceIdentifier":"1d4aae4d-cbe9-386c-0db9-2685be6da5d7","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"jackson-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"babf2e5a-9c70-3653-904c-f02a09327c34"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}