loop_function (2).json
{"flowContents":{"identifier":"47fdaed5-4178-3e0b-8beb-03d143107b70","instanceIdentifier":"f95fd48d-0194-1000-606d-af76155bce0f","name":"loop_function","comments":"","position":{"x":-1360.0,"y":-1040.0},"processGroups":[{"identifier":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7","instanceIdentifier":"fa9b27fe-0194-1000-79a2-db03ff86b185","name":"execute_my_transformation","comments":"","position":{"x":-696.0,"y":504.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fa9b5f56-0194-1000-53ba-556d81dab830","instanceIdentifier":"0e04dee1-429d-31a5-b2d2-d6258d233489","name":"ExecuteSQL","comments":"","position":{"x":-395.9999929548203,"y":-51.990905437940455},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5f4698a5-ca8f-3400-ac01-d13a94924b47","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select '${i}' as dummyvalue","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7"}],"inputPorts":[{"identifier":"30d67933-1caf-3770-ad7f-116e61d544c7","instanceIdentifier":"fa9eb902-0194-1000-7dda-a93b6c1c0036","name":"import_i","position":{"x":-267.9999929548203,"y":-205.82291379975692},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7"}],"outputPorts":[],"connections":[{"identifier":"fa9b5f5a-0194-1000-d825-9ae3816167a9","instanceIdentifier":"48a8a2c7-8a03-3067-601d-5fe421bccc3f","name":"","source":{"id":"fa9b5f56-0194-1000-53ba-556d81dab830","type":"PROCESSOR","groupId":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7","name":"ExecuteSQL","comments":"","instanceIdentifier":"0e04dee1-429d-31a5-b2d2-d6258d233489"},"destination":{"id":"fa9b5f57-0194-1000-949a-d6a9af5dbb77","type":"FUNNEL","groupId":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7","name":"Funnel","comments":"","instanceIdentifier":"dcdbe38a-2c5f-3929-ec6b-19d8382ebda8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7"},{"identifier":"bd49a81e-526f-3d1d-8f86-4a0b8cb3bc12","instanceIdentifier":"fa9ec528-0194-1000-e7fc-e24031d35c93","name":"","source":{"id":"30d67933-1caf-3770-ad7f-116e61d544c7","type":"INPUT_PORT","groupId":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7","name":"import_i","instanceIdentifier":"fa9eb902-0194-1000-7dda-a93b6c1c0036"},"destination":{"id":"fa9b5f56-0194-1000-53ba-556d81dab830","type":"PROCESSOR","groupId":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7","name":"ExecuteSQL","comments":"","instanceIdentifier":"0e04dee1-429d-31a5-b2d2-d6258d233489"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7"},{"identifier":"fa9b5f59-0194-1000-7087-a99de25d6b02","instanceIdentifier":"c15417c3-da05-3723-601f-0956fa71f21b","name":"","source":{"id":"fa9b5f56-0194-1000-53ba-556d81dab830","type":"PROCESSOR","groupId":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7","name":"ExecuteSQL","comments":"","instanceIdentifier":"0e04dee1-429d-31a5-b2d2-d6258d233489"},"destination":{"id":"fa9b5f58-0194-1000-74f5-0a0a2783496f","type":"FUNNEL","groupId":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7","name":"Funnel","comments":"","instanceIdentifier":"19db728e-670e-36e9-4efe-fade36939033"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7"}],"labels":[],"funnels":[{"identifier":"fa9b5f58-0194-1000-74f5-0a0a2783496f","instanceIdentifier":"19db728e-670e-36e9-4efe-fade36939033","position":{"x":340.0000070451797,"y":-83.99090543794046},"componentType":"FUNNEL","groupIdentifier":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7"},{"identifier":"fa9b5f57-0194-1000-949a-d6a9af5dbb77","instanceIdentifier":"dcdbe38a-2c5f-3929-ec6b-19d8382ebda8","position":{"x":348.0000070451797,"y":36.009094562059545},"componentType":"FUNNEL","groupIdentifier":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"}],"remoteProcessGroups":[],"processors":[{"identifier":"b6edba3a-7409-37e4-86ee-4f0483fa1d6c","instanceIdentifier":"f96f8128-0194-1000-43be-d1612dc855d6","name":"LogAttribute","comments":"","position":{"x":632.0,"y":232.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#7d1c1c"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"1135d52c-0396-3b42-9f70-e70dbc3738dc","instanceIdentifier":"f9616c1f-0194-1000-3619-041238e8e92f","name":"initial_value_set (i=0)","comments":"","position":{"x":-720.0,"y":-40.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","i":"0","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"i":{"name":"i","displayName":"i","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"370da177-0137-39bd-84ac-ea12f84f3789","instanceIdentifier":"f96ce68a-0194-1000-84a0-303a37204916","name":"RouteOnAttribute (while upto 5)","comments":"","position":{"x":-16.0,"y":224.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Routing Strategy":"Route to Property name","eval":"${i:lt(50)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"eval":{"name":"eval","displayName":"eval","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"fb512f9c-2ead-328f-bfab-1451c70fa67d","instanceIdentifier":"f9604b16-0194-1000-551d-5538f4842858","name":"Start_process","comments":"","position":{"x":-720.0,"y":-328.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Binary"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#23534d"},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"f963471f-0194-1000-cdf8-a97904a56986","instanceIdentifier":"d7e20ebd-3f08-3b87-f33c-0731a2b6345b","name":"increment_data(i++)","comments":"","position":{"x":-744.0,"y":216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","i":"${i:plus(1)}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"i":{"name":"i","displayName":"i","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"f971533f-0194-1000-acff-e831130cc8b1","instanceIdentifier":"8f5da3b3-4fc5-31ec-226c-3f0f6913b94d","name":"ExecuteSQL","comments":"","position":{"x":-40.0,"y":568.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"5f4698a5-ca8f-3400-ac01-d13a94924b47","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select '${i}' as dummyvalue","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"19dddb67-2c1a-34bc-80ca-bbf38a8bf9c7","instanceIdentifier":"f96fb372-0194-1000-dfd6-60cc2968fd24","name":"","source":{"id":"370da177-0137-39bd-84ac-ea12f84f3789","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"RouteOnAttribute (while upto 5)","comments":"","instanceIdentifier":"f96ce68a-0194-1000-84a0-303a37204916"},"destination":{"id":"b6edba3a-7409-37e4-86ee-4f0483fa1d6c","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"LogAttribute","comments":"","instanceIdentifier":"f96f8128-0194-1000-43be-d1612dc855d6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"2490aba8-c295-3c95-b257-1f3257c6d24a","instanceIdentifier":"f9728c24-0194-1000-8721-1322e9593e8e","name":"","source":{"id":"f971533f-0194-1000-acff-e831130cc8b1","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"ExecuteSQL","comments":"","instanceIdentifier":"8f5da3b3-4fc5-31ec-226c-3f0f6913b94d"},"destination":{"id":"f97272f3-0194-1000-41fb-f4576ba64f4c","type":"FUNNEL","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"Funnel","comments":"","instanceIdentifier":"dc667b72-031d-382c-85d5-8bc4c2a72170"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"de19b21f-0230-35a0-8873-87d90342f459","instanceIdentifier":"f969c7a2-0194-1000-1563-31e4ddc6a13e","name":"","source":{"id":"f963471f-0194-1000-cdf8-a97904a56986","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"increment_data(i++)","comments":"","instanceIdentifier":"d7e20ebd-3f08-3b87-f33c-0731a2b6345b"},"destination":{"id":"370da177-0137-39bd-84ac-ea12f84f3789","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"RouteOnAttribute (while upto 5)","comments":"","instanceIdentifier":"f96ce68a-0194-1000-84a0-303a37204916"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"630790d2-bc30-336f-80e3-0f35b922663a","instanceIdentifier":"f963651a-0194-1000-9006-28e8f659e638","name":"","source":{"id":"1135d52c-0396-3b42-9f70-e70dbc3738dc","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"initial_value_set (i=0)","comments":"","instanceIdentifier":"f9616c1f-0194-1000-3619-041238e8e92f"},"destination":{"id":"f963471f-0194-1000-cdf8-a97904a56986","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"increment_data(i++)","comments":"","instanceIdentifier":"d7e20ebd-3f08-3b87-f33c-0731a2b6345b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"e6a94043-cad5-3f83-835a-b17d6fe0ac27","instanceIdentifier":"f9716fe6-0194-1000-b4c1-ee8cee1a7dd8","name":"","source":{"id":"370da177-0137-39bd-84ac-ea12f84f3789","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"RouteOnAttribute (while upto 5)","comments":"","instanceIdentifier":"f96ce68a-0194-1000-84a0-303a37204916"},"destination":{"id":"f971533f-0194-1000-acff-e831130cc8b1","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"ExecuteSQL","comments":"","instanceIdentifier":"8f5da3b3-4fc5-31ec-226c-3f0f6913b94d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["eval"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"396c10dd-e118-3b65-806a-5b0f96332894","instanceIdentifier":"faa51aa2-0194-1000-7aba-7e9fc706bdf2","name":"","source":{"id":"370da177-0137-39bd-84ac-ea12f84f3789","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"RouteOnAttribute (while upto 5)","comments":"","instanceIdentifier":"f96ce68a-0194-1000-84a0-303a37204916"},"destination":{"id":"30d67933-1caf-3770-ad7f-116e61d544c7","type":"INPUT_PORT","groupId":"fbe91085-5739-3f65-bdd8-4d66d7c97bb7","name":"import_i","instanceIdentifier":"fa9eb902-0194-1000-7dda-a93b6c1c0036"},"labelIndex":0,"zIndex":0,"selectedRelationships":["eval"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"8e38dcac-e35c-3285-b4d1-e614deae6cfa","instanceIdentifier":"f9617de9-0194-1000-5450-5a29a7953f5f","name":"","source":{"id":"fb512f9c-2ead-328f-bfab-1451c70fa67d","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"Start_process","comments":"","instanceIdentifier":"f9604b16-0194-1000-551d-5538f4842858"},"destination":{"id":"1135d52c-0396-3b42-9f70-e70dbc3738dc","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"initial_value_set (i=0)","comments":"","instanceIdentifier":"f9616c1f-0194-1000-3619-041238e8e92f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"bdac97e6-9f80-3fbf-a9db-d29516382083","instanceIdentifier":"fa7ab2c2-0194-1000-a4a8-fae86b0cb922","name":"","source":{"id":"370da177-0137-39bd-84ac-ea12f84f3789","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"RouteOnAttribute (while upto 5)","comments":"","instanceIdentifier":"f96ce68a-0194-1000-84a0-303a37204916"},"destination":{"id":"f963471f-0194-1000-cdf8-a97904a56986","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"increment_data(i++)","comments":"","instanceIdentifier":"d7e20ebd-3f08-3b87-f33c-0731a2b6345b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["eval"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-232.0,"y":217.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"e77ac14b-9c74-378f-907d-410ff2be3859","instanceIdentifier":"f9725f09-0194-1000-f2bd-ed81b97cffba","name":"","source":{"id":"f971533f-0194-1000-acff-e831130cc8b1","type":"PROCESSOR","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"ExecuteSQL","comments":"","instanceIdentifier":"8f5da3b3-4fc5-31ec-226c-3f0f6913b94d"},"destination":{"id":"f9723df3-0194-1000-f514-d709865d0356","type":"FUNNEL","groupId":"47fdaed5-4178-3e0b-8beb-03d143107b70","name":"Funnel","comments":"","instanceIdentifier":"eeae9af2-f7b2-373a-b49d-c8b4a2bb2c1e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"}],"labels":[{"identifier":"e479a9df-3167-322a-a4c8-7dbe941f2dac","instanceIdentifier":"fa97be38-0194-1000-2732-1cc65c72fc60","position":{"x":-80.0,"y":472.0},"zIndex":0,"width":1096.0,"height":232.0,"style":{},"componentType":"LABEL","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"26d967d1-e5e7-3be3-9ecc-245452d22da7","instanceIdentifier":"fa98aa20-0194-1000-1d04-d46831b6a0e3","position":{"x":-288.0,"y":-328.0},"label":"1. start_process need to run once so that it will initialized one time","zIndex":0,"width":776.0,"height":296.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"}],"funnels":[{"identifier":"f9723df3-0194-1000-f514-d709865d0356","instanceIdentifier":"eeae9af2-f7b2-373a-b49d-c8b4a2bb2c1e","position":{"x":672.0,"y":624.0},"componentType":"FUNNEL","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"},{"identifier":"f97272f3-0194-1000-41fb-f4576ba64f4c","instanceIdentifier":"dc667b72-031d-382c-85d5-8bc4c2a72170","position":{"x":664.0,"y":504.0},"componentType":"FUNNEL","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"}],"controllerServices":[{"identifier":"5f4698a5-ca8f-3400-ac01-d13a94924b47","instanceIdentifier":"f97c4d0b-0194-1000-230d-e386e816f258","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://10.78.166.34:5432/kpi_metrics","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"47fdaed5-4178-3e0b-8beb-03d143107b70"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}