parquet_file_load_in_adl (1).json
{"flowContents":{"identifier":"597dba4a-350e-35b9-9610-02bf67c7aae5","instanceIdentifier":"feec369e-0194-1000-dff0-b50808d054c3","name":"parquet_file_load_in_adl","comments":"","position":{"x":-512.0,"y":-1032.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bb13a38f-a115-30d9-8769-80a1c949e6a7","instanceIdentifier":"fefd4777-0194-1000-8d16-6166695ff96c","name":"PutAzureDataLakeStorage","comments":"","position":{"x":-592.0,"y":-40.0},"type":"org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.2.0"},"properties":{"filesystem-name":"nificontainer","conflict-resolution-strategy":"fail","adls-credentials-service":"dfea957e-1764-36c8-b638-667ebc36b487","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","directory-name":"parquet","file-name":"${filename}","writing-strategy":"WRITE_AND_RENAME","File Resource Service":null,"base-temporary-path":""},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"conflict-resolution-strategy":{"name":"conflict-resolution-strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"base-temporary-path":{"name":"base-temporary-path","displayName":"Base Temporary Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"},{"identifier":"0632dbc0-81ab-3d5e-8d32-c52ddc1aca5e","instanceIdentifier":"feec988b-0194-1000-06f6-1405d75c0f62","name":"GetFile","comments":"","position":{"x":-592.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\dkashyap\\OneDrive - Hitachi Vantara\\MyWork_deepak\\nifi\\parquet_load\\input","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"},{"identifier":"03f8caac-5ac3-3849-9041-599c4c86d9b5","instanceIdentifier":"ff9b63d5-0194-1000-19af-ee13514f62a6","name":"PutFile","comments":"","position":{"x":-672.0,"y":192.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\dkashyap\\OneDrive - Hitachi Vantara\\MyWork_deepak\\nifi\\parquet_load\\output","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f7c155ae-72c9-350d-bf9d-0932b801df12","instanceIdentifier":"fefd59b3-0194-1000-24e3-db4bc4d9dcae","name":"","source":{"id":"0632dbc0-81ab-3d5e-8d32-c52ddc1aca5e","type":"PROCESSOR","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"GetFile","comments":"","instanceIdentifier":"feec988b-0194-1000-06f6-1405d75c0f62"},"destination":{"id":"bb13a38f-a115-30d9-8769-80a1c949e6a7","type":"PROCESSOR","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"PutAzureDataLakeStorage","comments":"","instanceIdentifier":"fefd4777-0194-1000-8d16-6166695ff96c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"},{"identifier":"e9522606-e640-393b-b79b-8b86ef1d9c6e","instanceIdentifier":"ff9dabbe-0194-1000-7285-b59a720affd3","name":"","source":{"id":"03f8caac-5ac3-3849-9041-599c4c86d9b5","type":"PROCESSOR","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"PutFile","comments":"","instanceIdentifier":"ff9b63d5-0194-1000-19af-ee13514f62a6"},"destination":{"id":"ff05245c-0194-1000-030a-f573c1e5efa5","type":"FUNNEL","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"Funnel","comments":"","instanceIdentifier":"61a6ab89-aad1-3510-815a-8b69afa5936c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"},{"identifier":"d71bde06-6531-3325-888b-616a76cf6ddd","instanceIdentifier":"ff05632b-0194-1000-0dca-e2fc2dc6b4db","name":"","source":{"id":"bb13a38f-a115-30d9-8769-80a1c949e6a7","type":"PROCESSOR","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"PutAzureDataLakeStorage","comments":"","instanceIdentifier":"fefd4777-0194-1000-8d16-6166695ff96c"},"destination":{"id":"ff05245c-0194-1000-030a-f573c1e5efa5","type":"FUNNEL","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"Funnel","comments":"","instanceIdentifier":"61a6ab89-aad1-3510-815a-8b69afa5936c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"},{"identifier":"56617f8b-b64b-3218-9816-138c8ccec95c","instanceIdentifier":"ff9d9108-0194-1000-aec4-ebf38c27b39f","name":"","source":{"id":"03f8caac-5ac3-3849-9041-599c4c86d9b5","type":"PROCESSOR","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"PutFile","comments":"","instanceIdentifier":"ff9b63d5-0194-1000-19af-ee13514f62a6"},"destination":{"id":"bca3a6e7-f199-3a2c-b472-712382c0b62e","type":"FUNNEL","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"Funnel","comments":"","instanceIdentifier":"ff051e40-0194-1000-3450-b479198f916d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"},{"identifier":"97592b51-65b4-3bb1-921c-2834040a71b8","instanceIdentifier":"ff054c9c-0194-1000-7737-1c47394e1337","name":"","source":{"id":"bb13a38f-a115-30d9-8769-80a1c949e6a7","type":"PROCESSOR","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"PutAzureDataLakeStorage","comments":"","instanceIdentifier":"fefd4777-0194-1000-8d16-6166695ff96c"},"destination":{"id":"03f8caac-5ac3-3849-9041-599c4c86d9b5","type":"PROCESSOR","groupId":"597dba4a-350e-35b9-9610-02bf67c7aae5","name":"PutFile","comments":"","instanceIdentifier":"ff9b63d5-0194-1000-19af-ee13514f62a6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"}],"labels":[],"funnels":[{"identifier":"ff05245c-0194-1000-030a-f573c1e5efa5","instanceIdentifier":"61a6ab89-aad1-3510-815a-8b69afa5936c","position":{"x":152.0,"y":288.0},"componentType":"FUNNEL","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"},{"identifier":"bca3a6e7-f199-3a2c-b472-712382c0b62e","instanceIdentifier":"ff051e40-0194-1000-3450-b479198f916d","position":{"x":-472.0,"y":408.0},"componentType":"FUNNEL","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"}],"controllerServices":[{"identifier":"dfea957e-1764-36c8-b638-667ebc36b487","instanceIdentifier":"ff01eabd-0194-1000-454c-a8b42e649047","name":"ADLSCredentialsControllerService","comments":"","type":"org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.2.0"},"properties":{"storage-endpoint-suffix":"dfs.core.windows.net","proxy-configuration-service":null,"credentials-type":"ACCOUNT_KEY"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-client-secret":{"name":"service-principal-client-secret","displayName":"Service Principal Client Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Endpoint Suffix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"storage-account-key":{"name":"storage-account-key","displayName":"Account Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-tenant-id":{"name":"service-principal-tenant-id","displayName":"Service Principal Tenant ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-client-id":{"name":"service-principal-client-id","displayName":"Service Principal Client ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"credentials-type":{"name":"credentials-type","displayName":"Credentials Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"managed-identity-client-id":{"name":"managed-identity-client-id","displayName":"Managed Identity Client ID","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.azure.storage.ADLSCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"597dba4a-350e-35b9-9610-02bf67c7aae5"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}