python_code/encrypt.json
{"flowContents":{"identifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b","instanceIdentifier":"18955c19-0195-1000-fb88-d092df3299e2","name":"encrypt","comments":"","position":{"x":-512.0,"y":-808.0},"processGroups":[{"identifier":"5b913fa7-e09c-3735-9d65-d3537e68d650","instanceIdentifier":"19ca9c78-0195-1000-11bc-03d2a7e978e7","name":"encrypt_data","comments":"","position":{"x":-1272.0,"y":-720.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"23db6a75-85e0-3a13-9424-3ba5459cf4b0","instanceIdentifier":"8bdc1b4f-e0ff-304a-3060-845f776b1187","name":"ConvertRecord","comments":"","position":{"x":-1576.0,"y":-912.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"a2d351ef-cdab-36e9-9aa2-3c9d6944f8be","Record Reader":"347dd695-4e74-3dbf-845d-3198e729d394"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"c1e0fbaa-32ae-343d-b4e1-eb1f1cf4ba26","instanceIdentifier":"31e38ad3-5458-3231-6288-ffa05c2ece72","name":"ConvertRecord","comments":"","position":{"x":-872.0,"y":-592.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"97055b3d-e1dd-36d3-a5dc-bb3e1faaeaf9","Record Reader":"2e1010e4-6d8b-33c3-832b-c87bf570c522"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"18b07e3c-0195-1000-081c-095ad2ceb848","instanceIdentifier":"ea6811ae-dd92-360e-7368-0a432e0bdd74","name":"PutAzureDataLakeStorage","comments":"","position":{"x":-1008.0,"y":-1000.0},"type":"org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.2.0"},"properties":{"filesystem-name":"nifistorage","conflict-resolution-strategy":"replace","adls-credentials-service":"5c656a79-a709-398e-b314-b780787a597c","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","directory-name":"parquet","file-name":"test_1_simple","writing-strategy":"WRITE_AND_RENAME","File Resource Service":null,"base-temporary-path":""},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"conflict-resolution-strategy":{"name":"conflict-resolution-strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"base-temporary-path":{"name":"base-temporary-path","displayName":"Base Temporary Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"e8ed769f-a69b-37dc-92cb-65aed56d0298","instanceIdentifier":"226b2d91-6193-3bcf-2b0f-db73966c38d0","name":"ExecuteStreamCommand","comments":"","position":{"x":-1568.0,"y":-600.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"C:\\Users\\dkashyap\\OneDrive - Hitachi Vantara\\MyWork_deepak\\nifi\\python_code","Command Path":"C:\\Users\\dkashyap\\AppData\\Local\\Microsoft\\WindowsApps\\python.exe","Output Destination Attribute":null,"Argument Delimiter":";","pii_fields":"account_number;email;phone","Ignore STDIN":"false","Command Arguments":"C:\\Users\\dkashyap\\OneDrive - Hitachi Vantara\\MyWork_deepak\\nifi\\python_code\\encrypt_pii.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pii_fields":{"name":"pii_fields","displayName":"pii_fields","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"}],"inputPorts":[{"identifier":"5105d2e7-b8c5-3421-b98c-bff7d0af858b","instanceIdentifier":"19cceb86-0195-1000-417c-7c2f89d9de59","name":"get_file_data","position":{"x":-1528.0,"y":-1240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"}],"outputPorts":[{"identifier":"ec5366fc-2bf5-336c-ab6a-52fcdff68e85","instanceIdentifier":"19ff5347-0195-1000-8567-363b22e29a4d","name":"out_encrypt","position":{"x":-824.0,"y":-1296.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"}],"connections":[{"identifier":"5b321089-0799-3bfb-b23c-f73d86b42968","instanceIdentifier":"ac547647-1f78-34e3-7515-35f6bc4b4692","name":"","source":{"id":"e8ed769f-a69b-37dc-92cb-65aed56d0298","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"226b2d91-6193-3bcf-2b0f-db73966c38d0"},"destination":{"id":"c1e0fbaa-32ae-343d-b4e1-eb1f1cf4ba26","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"ConvertRecord","comments":"","instanceIdentifier":"31e38ad3-5458-3231-6288-ffa05c2ece72"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"b38a34f4-c203-3e85-9cbc-d75fdc0389d9","instanceIdentifier":"19a7fd37-0195-1000-8117-8cdb7668b519","name":"","source":{"id":"18b07e3c-0195-1000-081c-095ad2ceb848","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"PutAzureDataLakeStorage","comments":"","instanceIdentifier":"ea6811ae-dd92-360e-7368-0a432e0bdd74"},"destination":{"id":"18b3d269-0195-1000-a01a-65fd92de627c","type":"FUNNEL","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"Funnel","comments":"","instanceIdentifier":"b17daf25-5e1f-31ef-c774-98a18f604ed3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"79213227-af74-39de-8a14-2b1a809234f8","instanceIdentifier":"19cd0970-0195-1000-5c28-47c34ab9cafd","name":"","source":{"id":"5105d2e7-b8c5-3421-b98c-bff7d0af858b","type":"INPUT_PORT","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"get_file_data","instanceIdentifier":"19cceb86-0195-1000-417c-7c2f89d9de59"},"destination":{"id":"8b7a8965-4bac-3b88-8606-cb68f2a55e80","type":"FUNNEL","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"Funnel","comments":"","instanceIdentifier":"18a4cbdd-0195-1000-2ad9-a59c3d8103e4"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"bbd04234-0224-3c40-ac87-f46c53924ce0","instanceIdentifier":"18b13cd5-0195-1000-5795-9461f6c80bb0","name":"","source":{"id":"c1e0fbaa-32ae-343d-b4e1-eb1f1cf4ba26","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"ConvertRecord","comments":"","instanceIdentifier":"31e38ad3-5458-3231-6288-ffa05c2ece72"},"destination":{"id":"a4bd1e56-73d7-3986-88e5-fd9b1786ef57","type":"FUNNEL","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"Funnel","comments":"","instanceIdentifier":"08f4e865-c46e-3883-9cfc-61fc9120b827"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"417d1b2e-fc36-3e33-a48d-4a2f4cd7eb41","instanceIdentifier":"19ff655b-0195-1000-bfe6-b6ef0c76e699","name":"","source":{"id":"18b3d269-0195-1000-a01a-65fd92de627c","type":"FUNNEL","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"Funnel","comments":"","instanceIdentifier":"b17daf25-5e1f-31ef-c774-98a18f604ed3"},"destination":{"id":"ec5366fc-2bf5-336c-ab6a-52fcdff68e85","type":"OUTPUT_PORT","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"out_encrypt","instanceIdentifier":"19ff5347-0195-1000-8567-363b22e29a4d"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"77ff67bb-1aa1-3664-bf36-3d3be02c951b","instanceIdentifier":"a9d6fd95-8604-3d94-b6cf-4d722f9114f3","name":"","source":{"id":"e8ed769f-a69b-37dc-92cb-65aed56d0298","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"226b2d91-6193-3bcf-2b0f-db73966c38d0"},"destination":{"id":"83ac681f-8640-3df3-b2a8-5f0ca64b3dbd","type":"FUNNEL","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"Funnel","comments":"","instanceIdentifier":"9f7698c7-fde2-3abf-5faf-6767da2dda27"},"labelIndex":0,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"4400b494-8e3e-35ea-ba34-a7e8b31fcb3a","instanceIdentifier":"18ab0b4d-0195-1000-5825-366f63f3f328","name":"","source":{"id":"8b7a8965-4bac-3b88-8606-cb68f2a55e80","type":"FUNNEL","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"Funnel","comments":"","instanceIdentifier":"18a4cbdd-0195-1000-2ad9-a59c3d8103e4"},"destination":{"id":"23db6a75-85e0-3a13-9424-3ba5459cf4b0","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"ConvertRecord","comments":"","instanceIdentifier":"8bdc1b4f-e0ff-304a-3060-845f776b1187"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"c32e7dd7-65a5-3d52-8694-0d77d12d2fab","instanceIdentifier":"18b1013e-0195-1000-a78c-e972d83eb6ea","name":"","source":{"id":"c1e0fbaa-32ae-343d-b4e1-eb1f1cf4ba26","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"ConvertRecord","comments":"","instanceIdentifier":"31e38ad3-5458-3231-6288-ffa05c2ece72"},"destination":{"id":"18b07e3c-0195-1000-081c-095ad2ceb848","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"PutAzureDataLakeStorage","comments":"","instanceIdentifier":"ea6811ae-dd92-360e-7368-0a432e0bdd74"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"75748aee-0aac-3a17-b01c-b5104160a81c","instanceIdentifier":"18b4021f-0195-1000-8260-4c11610072c9","name":"","source":{"id":"18b07e3c-0195-1000-081c-095ad2ceb848","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"PutAzureDataLakeStorage","comments":"","instanceIdentifier":"ea6811ae-dd92-360e-7368-0a432e0bdd74"},"destination":{"id":"a4bd1e56-73d7-3986-88e5-fd9b1786ef57","type":"FUNNEL","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"Funnel","comments":"","instanceIdentifier":"08f4e865-c46e-3883-9cfc-61fc9120b827"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"e7c0bb9f-fc1e-354e-969e-e1549b8b229b","instanceIdentifier":"934b8735-b5e6-38f8-d006-2a297e01c1bb","name":"","source":{"id":"23db6a75-85e0-3a13-9424-3ba5459cf4b0","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"ConvertRecord","comments":"","instanceIdentifier":"8bdc1b4f-e0ff-304a-3060-845f776b1187"},"destination":{"id":"e8ed769f-a69b-37dc-92cb-65aed56d0298","type":"PROCESSOR","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"226b2d91-6193-3bcf-2b0f-db73966c38d0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1408.0,"y":-656.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"}],"labels":[{"identifier":"d6f8fdb0-c09c-300f-9630-baaa2ac946fa","instanceIdentifier":"19f37b42-0195-1000-7c0f-ded1bb82de84","position":{"x":-1144.0,"y":-1240.0},"zIndex":0,"width":150.0,"height":150.0,"style":{},"componentType":"LABEL","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"}],"funnels":[{"identifier":"a4bd1e56-73d7-3986-88e5-fd9b1786ef57","instanceIdentifier":"08f4e865-c46e-3883-9cfc-61fc9120b827","position":{"x":-136.0,"y":-936.0},"componentType":"FUNNEL","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"18b3d269-0195-1000-a01a-65fd92de627c","instanceIdentifier":"b17daf25-5e1f-31ef-c774-98a18f604ed3","position":{"x":-944.0,"y":-1152.0},"componentType":"FUNNEL","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"8b7a8965-4bac-3b88-8606-cb68f2a55e80","instanceIdentifier":"18a4cbdd-0195-1000-2ad9-a59c3d8103e4","position":{"x":-1432.0,"y":-1064.0},"componentType":"FUNNEL","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"},{"identifier":"83ac681f-8640-3df3-b2a8-5f0ca64b3dbd","instanceIdentifier":"9f7698c7-fde2-3abf-5faf-6767da2dda27","position":{"x":-1440.0,"y":-200.0},"componentType":"FUNNEL","groupIdentifier":"5b913fa7-e09c-3735-9d65-d3537e68d650"}],"controllerServices":[],"parameterContextName":"CustomerDiscountContext","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1","instanceIdentifier":"19d018d9-0195-1000-0d4a-94acd90079e1","name":"put_file_to_folder","comments":"","position":{"x":-1952.0,"y":-400.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"19d13188-0195-1000-cec0-89d4973c7b5a","instanceIdentifier":"7e51f8f4-c672-3a17-6da8-cd6d249ac2b5","name":"UpdateAttribute","comments":"","position":{"x":-560.0,"y":136.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"test1_new.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1"},{"identifier":"19d13186-0195-1000-cd4a-e9dec7eb5ecb","instanceIdentifier":"8514ef66-a7cc-3796-32b2-07bc53a296b1","name":"ConvertRecord","comments":"","position":{"x":-568.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"350a9e5c-d8d6-3c1d-a60e-fd5f2805d468","Record Reader":"347dd695-4e74-3dbf-845d-3198e729d394"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1"},{"identifier":"19d13187-0195-1000-8907-e2feec11a333","instanceIdentifier":"df575229-8b9a-3eef-1eef-40e27ca811ea","name":"PutFile","comments":"","position":{"x":-544.0,"y":352.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\dkashyap\\OneDrive - Hitachi Vantara\\MyWork_deepak\\nifi\\python_code\\csv","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1"}],"inputPorts":[{"identifier":"9e121f17-bce3-3d7c-af01-e8f56885db26","instanceIdentifier":"19d0674e-0195-1000-cc55-d05e3754389f","name":"local_input_file","position":{"x":-544.0,"y":-216.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1"}],"outputPorts":[],"connections":[{"identifier":"f9287e13-ae33-3661-873d-2a449592428f","instanceIdentifier":"19d170f6-0195-1000-24a4-07bc41b69b27","name":"","source":{"id":"19d13188-0195-1000-cec0-89d4973c7b5a","type":"PROCESSOR","groupId":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1","name":"UpdateAttribute","comments":"","instanceIdentifier":"7e51f8f4-c672-3a17-6da8-cd6d249ac2b5"},"destination":{"id":"19d13187-0195-1000-8907-e2feec11a333","type":"PROCESSOR","groupId":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1","name":"PutFile","comments":"","instanceIdentifier":"df575229-8b9a-3eef-1eef-40e27ca811ea"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1"},{"identifier":"cd6a87e7-c633-3c10-a99c-410dadc0c2ea","instanceIdentifier":"19d1473d-0195-1000-1cea-64cdbc0944b0","name":"","source":{"id":"9e121f17-bce3-3d7c-af01-e8f56885db26","type":"INPUT_PORT","groupId":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1","name":"local_input_file","instanceIdentifier":"19d0674e-0195-1000-cc55-d05e3754389f"},"destination":{"id":"19d13186-0195-1000-cd4a-e9dec7eb5ecb","type":"PROCESSOR","groupId":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1","name":"ConvertRecord","comments":"","instanceIdentifier":"8514ef66-a7cc-3796-32b2-07bc53a296b1"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1"},{"identifier":"2a194fb9-addf-38be-b2ab-bd2f5505ed74","instanceIdentifier":"19d1604c-0195-1000-9153-96cb1d908034","name":"","source":{"id":"19d13186-0195-1000-cd4a-e9dec7eb5ecb","type":"PROCESSOR","groupId":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1","name":"ConvertRecord","comments":"","instanceIdentifier":"8514ef66-a7cc-3796-32b2-07bc53a296b1"},"destination":{"id":"19d13188-0195-1000-cec0-89d4973c7b5a","type":"PROCESSOR","groupId":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1","name":"UpdateAttribute","comments":"","instanceIdentifier":"7e51f8f4-c672-3a17-6da8-cd6d249ac2b5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"CustomerDiscountContext","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097","instanceIdentifier":"dd01eeaa-3da3-3024-8e7a-59145e3e00db","name":"fetchdata_from_azure_parquet_file","comments":"","position":{"x":-1256.0,"y":-368.0},"processGroups":[{"identifier":"a2a65e3f-e1e6-3976-8595-8732979989c3","instanceIdentifier":"acf12967-e22c-3349-6726-b13e25dbb033","name":"fileload_logic","comments":"","position":{"x":-360.0,"y":-2184.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"edf36c0a-4374-3262-a715-96404f162b44","instanceIdentifier":"042abac8-03eb-3f16-3179-2bc6e496a45d","name":"ConvertRecord","comments":"","position":{"x":-552.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"a2d351ef-cdab-36e9-9aa2-3c9d6944f8be","Record Reader":"e7469dd7-4c9b-3258-9ea6-8b5eba3e302f"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"a1c9fe07-05cf-37f2-9196-f5502ee0c910","instanceIdentifier":"cd6a1b93-a210-3b06-9776-7a985d9a70a2","name":"ExecuteStreamCommand","comments":"","position":{"x":-560.0,"y":112.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"C:\\Users\\dkashyap\\OneDrive - Hitachi Vantara\\MyWork_deepak\\nifi\\python_code","Command Path":"C:\\Users\\dkashyap\\AppData\\Local\\Microsoft\\WindowsApps\\python.exe","Output Destination Attribute":null,"Argument Delimiter":";","pii_fields":"account_number;email;phone","Ignore STDIN":"false","Command Arguments":"C:\\Users\\dkashyap\\OneDrive - Hitachi Vantara\\MyWork_deepak\\nifi\\python_code\\decrypt.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pii_fields":{"name":"pii_fields","displayName":"pii_fields","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"c4fa338d-f4e1-3188-b7ab-83fe0ca82d54","instanceIdentifier":"d1c2e042-7431-356b-1b01-4e466c0aac48","name":"FetchAzureDataLakeStorage","comments":"","position":{"x":-496.0,"y":-328.0},"type":"org.apache.nifi.processors.azure.storage.FetchAzureDataLakeStorage","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.2.0"},"properties":{"filesystem-name":"${azure.filesystem}","number-of-retries":"0","range-length":null,"range-start":null,"adls-credentials-service":"5c656a79-a709-398e-b314-b780787a597c","proxy-configuration-service":null,"directory-name":"${azure.directory}","file-name":"${azure.filename}"},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"number-of-retries":{"name":"number-of-retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"faa03e8b-5524-3ac0-b938-deace662c4dd","instanceIdentifier":"ddcff81c-89a8-36a4-16ec-f9e23baa7b72","name":"ConvertRecord","comments":"","position":{"x":88.0,"y":160.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"350a9e5c-d8d6-3c1d-a60e-fd5f2805d468","Record Reader":"2e1010e4-6d8b-33c3-832b-c87bf570c522"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"}],"inputPorts":[{"identifier":"66f7005e-ac35-3224-af7f-b6deae5a04fe","instanceIdentifier":"f25ad3b3-8484-38c2-737a-3ecad32553ec","name":"input_filename","position":{"x":-440.0,"y":-536.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"}],"outputPorts":[{"identifier":"63309d36-7e9b-3687-816c-a1c645381669","instanceIdentifier":"a5abfbc0-f4c8-3cbe-f80a-c19d59149578","name":"failure_output","position":{"x":688.0,"y":-296.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"30eafe7d-8672-3b8b-978b-758503451410","instanceIdentifier":"1db2f4a4-87d6-383c-3401-434841321727","name":"success_output","position":{"x":480.0,"y":-8.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"}],"connections":[{"identifier":"97c6df58-a209-3baa-a7d9-3a4d90577413","instanceIdentifier":"c074f5b1-7697-3efd-c6e2-25ac98fc6829","name":"","source":{"id":"c4fa338d-f4e1-3188-b7ab-83fe0ca82d54","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"FetchAzureDataLakeStorage","comments":"","instanceIdentifier":"d1c2e042-7431-356b-1b01-4e466c0aac48"},"destination":{"id":"213cb9d1-a31a-3267-ad88-f1cfbb00ca2b","type":"FUNNEL","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"Funnel","comments":"","instanceIdentifier":"089bc8d3-ee5d-3f45-93f9-11c8c55bca65"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"a350f862-7f6a-3a9e-b66b-c935ba120961","instanceIdentifier":"bcd6e8a1-3ac8-3665-7ab3-381e326d8a57","name":"","source":{"id":"faa03e8b-5524-3ac0-b938-deace662c4dd","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ConvertRecord","comments":"","instanceIdentifier":"ddcff81c-89a8-36a4-16ec-f9e23baa7b72"},"destination":{"id":"213cb9d1-a31a-3267-ad88-f1cfbb00ca2b","type":"FUNNEL","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"Funnel","comments":"","instanceIdentifier":"089bc8d3-ee5d-3f45-93f9-11c8c55bca65"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"0626a36c-7bc1-32e8-8d32-d027ff244694","instanceIdentifier":"1a2f6ac1-0195-1000-6a29-837bfd01d470","name":"","source":{"id":"faa03e8b-5524-3ac0-b938-deace662c4dd","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ConvertRecord","comments":"","instanceIdentifier":"ddcff81c-89a8-36a4-16ec-f9e23baa7b72"},"destination":{"id":"30eafe7d-8672-3b8b-978b-758503451410","type":"OUTPUT_PORT","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"success_output","instanceIdentifier":"1db2f4a4-87d6-383c-3401-434841321727"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":336.0,"y":33.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"73b02a10-eecf-32eb-8c01-b4048c8421a2","instanceIdentifier":"a7e209e9-8f4a-35d3-6e82-fd37adc4cdb5","name":"","source":{"id":"213cb9d1-a31a-3267-ad88-f1cfbb00ca2b","type":"FUNNEL","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"Funnel","comments":"","instanceIdentifier":"089bc8d3-ee5d-3f45-93f9-11c8c55bca65"},"destination":{"id":"63309d36-7e9b-3687-816c-a1c645381669","type":"OUTPUT_PORT","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"failure_output","instanceIdentifier":"a5abfbc0-f4c8-3cbe-f80a-c19d59149578"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"40aca49c-2722-378e-b1ec-3b47ffb5d9df","instanceIdentifier":"1a312b72-0195-1000-0cbe-3b7627446880","name":"","source":{"id":"edf36c0a-4374-3262-a715-96404f162b44","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ConvertRecord","comments":"","instanceIdentifier":"042abac8-03eb-3f16-3179-2bc6e496a45d"},"destination":{"id":"7865688b-ceae-3c2f-ac07-f8667a821ef8","type":"FUNNEL","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"Funnel","comments":"","instanceIdentifier":"1a311940-0195-1000-50a5-6387af0bb750"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"d13dddd9-27e4-308e-8701-7547daf34a2d","instanceIdentifier":"1a2f1fa7-0195-1000-e5d9-90bb38a0c514","name":"","source":{"id":"edf36c0a-4374-3262-a715-96404f162b44","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ConvertRecord","comments":"","instanceIdentifier":"042abac8-03eb-3f16-3179-2bc6e496a45d"},"destination":{"id":"a1c9fe07-05cf-37f2-9196-f5502ee0c910","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"cd6a1b93-a210-3b06-9776-7a985d9a70a2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"cb280d46-0568-3eec-9bad-4e97415a4343","instanceIdentifier":"69a3fb69-2d22-3c2f-c1ab-7fd67cb9031c","name":"","source":{"id":"c4fa338d-f4e1-3188-b7ab-83fe0ca82d54","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"FetchAzureDataLakeStorage","comments":"","instanceIdentifier":"d1c2e042-7431-356b-1b01-4e466c0aac48"},"destination":{"id":"edf36c0a-4374-3262-a715-96404f162b44","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ConvertRecord","comments":"","instanceIdentifier":"042abac8-03eb-3f16-3179-2bc6e496a45d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"582db59b-3f61-318b-8557-e9adee832015","instanceIdentifier":"1a2f99a3-0195-1000-9a96-d79c54818a1f","name":"","source":{"id":"a1c9fe07-05cf-37f2-9196-f5502ee0c910","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"cd6a1b93-a210-3b06-9776-7a985d9a70a2"},"destination":{"id":"65efdd7f-6d5b-352f-8c63-6eb0d7c1ff07","type":"FUNNEL","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"Funnel","comments":"","instanceIdentifier":"1a2f7ebb-0195-1000-806f-1e35f30a75c8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"b149fc88-2015-3f7d-a37a-f75cdee0f02e","instanceIdentifier":"1a26c5f9-0195-1000-2a04-cff8b86a85a2","name":"","source":{"id":"faa03e8b-5524-3ac0-b938-deace662c4dd","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ConvertRecord","comments":"","instanceIdentifier":"ddcff81c-89a8-36a4-16ec-f9e23baa7b72"},"destination":{"id":"30eafe7d-8672-3b8b-978b-758503451410","type":"OUTPUT_PORT","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"success_output","instanceIdentifier":"1db2f4a4-87d6-383c-3401-434841321727"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"9adee88c-0ccf-3074-b56b-dedac12c87bc","instanceIdentifier":"1a2f3e8d-0195-1000-961c-b4c7b46fdce2","name":"","source":{"id":"a1c9fe07-05cf-37f2-9196-f5502ee0c910","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"cd6a1b93-a210-3b06-9776-7a985d9a70a2"},"destination":{"id":"faa03e8b-5524-3ac0-b938-deace662c4dd","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"ConvertRecord","comments":"","instanceIdentifier":"ddcff81c-89a8-36a4-16ec-f9e23baa7b72"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"c4cb1312-8c35-3ab9-abb3-cdcf4d7c8bb0","instanceIdentifier":"27b791f4-2ed5-3c1e-2871-e04305255643","name":"","source":{"id":"66f7005e-ac35-3224-af7f-b6deae5a04fe","type":"INPUT_PORT","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"input_filename","instanceIdentifier":"f25ad3b3-8484-38c2-737a-3ecad32553ec"},"destination":{"id":"c4fa338d-f4e1-3188-b7ab-83fe0ca82d54","type":"PROCESSOR","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"FetchAzureDataLakeStorage","comments":"","instanceIdentifier":"d1c2e042-7431-356b-1b01-4e466c0aac48"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"}],"labels":[],"funnels":[{"identifier":"65efdd7f-6d5b-352f-8c63-6eb0d7c1ff07","instanceIdentifier":"1a2f7ebb-0195-1000-806f-1e35f30a75c8","position":{"x":-399.0,"y":303.17701721191406},"componentType":"FUNNEL","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"7865688b-ceae-3c2f-ac07-f8667a821ef8","instanceIdentifier":"1a311940-0195-1000-50a5-6387af0bb750","position":{"x":-856.0,"y":-104.0},"componentType":"FUNNEL","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"},{"identifier":"213cb9d1-a31a-3267-ad88-f1cfbb00ca2b","instanceIdentifier":"089bc8d3-ee5d-3f45-93f9-11c8c55bca65","position":{"x":424.0,"y":-272.0},"componentType":"FUNNEL","groupIdentifier":"a2a65e3f-e1e6-3976-8595-8732979989c3"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"}],"remoteProcessGroups":[],"processors":[{"identifier":"6371b9a8-b4c9-32c5-8b97-6a15d6275a4b","instanceIdentifier":"e05df737-d99c-3f96-cbc7-ea17a35ef6a3","name":"UpdateAttribute","comments":"","position":{"x":-1264.0,"y":-2024.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"test1_download.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"d49d3f1c-356b-3499-b5f8-63e102ee692c","instanceIdentifier":"9c19466d-607d-3338-e1df-b39340adf8e0","name":"PutFile","comments":"","position":{"x":-1416.0,"y":-1776.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\dkashyap\\OneDrive - Hitachi Vantara\\MyWork_deepak\\nifi\\python_code\\csv","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"}],"inputPorts":[{"identifier":"13729741-e01d-3bc8-bb74-c5f8a7b3c387","instanceIdentifier":"1a05f1cc-0195-1000-a5e3-7189379dbdd8","name":"decrypt_filename","position":{"x":-1336.0,"y":-2336.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"}],"outputPorts":[],"connections":[{"identifier":"a92d6b1f-af80-31bb-a32c-6103242f6645","instanceIdentifier":"732175cc-25f1-379b-7509-2f48f2a88535","name":"","source":{"id":"63309d36-7e9b-3687-816c-a1c645381669","type":"OUTPUT_PORT","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"failure_output","instanceIdentifier":"a5abfbc0-f4c8-3cbe-f80a-c19d59149578"},"destination":{"id":"379eea1d-401d-3e0f-96b3-ac6b4b438437","type":"FUNNEL","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"Funnel","comments":"","instanceIdentifier":"ce52e0b8-b6da-30bd-eed4-fab14be7a57d"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.NewestFlowFileFirstPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"0a79857a-e21c-32b3-937c-2b851b0f1780","instanceIdentifier":"1a0448a7-0195-1000-8832-2bb7181a1410","name":"","source":{"id":"30eafe7d-8672-3b8b-978b-758503451410","type":"OUTPUT_PORT","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"success_output","instanceIdentifier":"1db2f4a4-87d6-383c-3401-434841321727"},"destination":{"id":"6371b9a8-b4c9-32c5-8b97-6a15d6275a4b","type":"PROCESSOR","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"UpdateAttribute","comments":"","instanceIdentifier":"e05df737-d99c-3f96-cbc7-ea17a35ef6a3"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"6597825e-0393-3cb6-8bdb-40925360f0fa","instanceIdentifier":"cfa1044d-d7e7-3561-89e2-0156d853c9a7","name":"","source":{"id":"d49d3f1c-356b-3499-b5f8-63e102ee692c","type":"PROCESSOR","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"PutFile","comments":"","instanceIdentifier":"9c19466d-607d-3338-e1df-b39340adf8e0"},"destination":{"id":"379eea1d-401d-3e0f-96b3-ac6b4b438437","type":"FUNNEL","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"Funnel","comments":"","instanceIdentifier":"ce52e0b8-b6da-30bd-eed4-fab14be7a57d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"60e52f0a-38e7-35ca-91e4-186d3c607bcb","instanceIdentifier":"940abe94-70f3-33ee-897e-ac2634a0be6d","name":"","source":{"id":"d49d3f1c-356b-3499-b5f8-63e102ee692c","type":"PROCESSOR","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"PutFile","comments":"","instanceIdentifier":"9c19466d-607d-3338-e1df-b39340adf8e0"},"destination":{"id":"1b53e447-9308-3a32-a794-a9e3c2a197a0","type":"FUNNEL","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"Funnel","comments":"","instanceIdentifier":"58bcdd27-6dce-3b97-f995-54d46f190e79"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"7f2c1419-8f3c-3568-af73-9c2e48ff74ad","instanceIdentifier":"1a093ca4-0195-1000-deac-2a56e1f05e5f","name":"","source":{"id":"37556036-a329-31d4-8c8f-36091cd9bb9c","type":"FUNNEL","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"Funnel","comments":"","instanceIdentifier":"1a08c2bf-0195-1000-c5cd-50767e8f3b44"},"destination":{"id":"66f7005e-ac35-3224-af7f-b6deae5a04fe","type":"INPUT_PORT","groupId":"a2a65e3f-e1e6-3976-8595-8732979989c3","name":"input_filename","instanceIdentifier":"f25ad3b3-8484-38c2-737a-3ecad32553ec"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"9bd2ee57-1235-31bc-bee3-e22677d649a7","instanceIdentifier":"1a067550-0195-1000-e87b-c51ab9e0c68e","name":"","source":{"id":"13729741-e01d-3bc8-bb74-c5f8a7b3c387","type":"INPUT_PORT","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"decrypt_filename","instanceIdentifier":"1a05f1cc-0195-1000-a5e3-7189379dbdd8"},"destination":{"id":"37556036-a329-31d4-8c8f-36091cd9bb9c","type":"FUNNEL","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"Funnel","comments":"","instanceIdentifier":"1a08c2bf-0195-1000-c5cd-50767e8f3b44"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"5edc0ce1-1505-34f0-817c-5df2b072501e","instanceIdentifier":"1a2d22a2-0195-1000-66a6-1b3508bb48a9","name":"","source":{"id":"6371b9a8-b4c9-32c5-8b97-6a15d6275a4b","type":"PROCESSOR","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"UpdateAttribute","comments":"","instanceIdentifier":"e05df737-d99c-3f96-cbc7-ea17a35ef6a3"},"destination":{"id":"d49d3f1c-356b-3499-b5f8-63e102ee692c","type":"PROCESSOR","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"PutFile","comments":"","instanceIdentifier":"9c19466d-607d-3338-e1df-b39340adf8e0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"}],"labels":[],"funnels":[{"identifier":"379eea1d-401d-3e0f-96b3-ac6b4b438437","instanceIdentifier":"ce52e0b8-b6da-30bd-eed4-fab14be7a57d","position":{"x":-240.0,"y":-1752.0},"componentType":"FUNNEL","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"37556036-a329-31d4-8c8f-36091cd9bb9c","instanceIdentifier":"1a08c2bf-0195-1000-c5cd-50767e8f3b44","position":{"x":-984.0,"y":-2152.0},"componentType":"FUNNEL","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"1b53e447-9308-3a32-a794-a9e3c2a197a0","instanceIdentifier":"58bcdd27-6dce-3b97-f995-54d46f190e79","position":{"x":-848.0,"y":-1528.0},"componentType":"FUNNEL","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"}],"controllerServices":[{"identifier":"e7469dd7-4c9b-3258-9ea6-8b5eba3e302f","instanceIdentifier":"073ee83f-cc43-3cf7-167d-141f27b719c6","name":"ParquetReader","comments":"","type":"org.apache.nifi.parquet.ParquetReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.2.0"},"properties":{"avro-read-compatibility":"true"},"propertyDescriptors":{"avro-read-compatibility":{"name":"avro-read-compatibility","displayName":"Avro Read Compatibility","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"5ca71dad-9ae3-320c-9f49-8066550fe803","instanceIdentifier":"d9144b96-873d-31ff-5d42-863444354115","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://10.78.166.34:5432/kpi_metrics","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"},{"identifier":"ee971fc5-d243-3d92-83b5-127e6ccbd84c","instanceIdentifier":"7ed5433f-f636-3c02-f04f-47f7600c79bc","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1d2f2874-c25e-390e-ad34-27ab1c19d097"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"}],"remoteProcessGroups":[],"processors":[{"identifier":"19cc7d97-0195-1000-d474-ae6e6aabedaa","instanceIdentifier":"6d085067-1a3d-39ec-af7b-9631f5fc1a54","name":"GenerateRecord","comments":"","position":{"x":-1944.0,"y":-720.0},"type":"org.apache.nifi.processors.standard.GenerateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"nullable-fields":"true","number-of-records":"100000","record-writer":"8d51d01b-9416-3123-b7a6-e644e2e378e2","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"User\",\n  \"namespace\": \"com.example\",\n  \"fields\": [\n    {\n      \"name\": \"account_number\",\n      \"type\": \"int\"\n    },\n    {\n      \"name\": \"email\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"phone\",\n      \"type\": \"int\"\n    },\n    {\n      \"name\": \"address\",\n      \"type\": \"string\"\n    }\n  ]\n}\n","null-percentage":"0"},"propertyDescriptors":{"nullable-fields":{"name":"nullable-fields","displayName":"Nullable Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"number-of-records":{"name":"number-of-records","displayName":"Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"null-percentage":{"name":"null-percentage","displayName":"Null Value Percentage","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a65bc9ae-ff68-3d67-81ce-3f55e939a8c0","instanceIdentifier":"1a06adb3-0195-1000-360a-2b250e192d69","name":"","source":{"id":"ec5366fc-2bf5-336c-ab6a-52fcdff68e85","type":"OUTPUT_PORT","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"out_encrypt","instanceIdentifier":"19ff5347-0195-1000-8567-363b22e29a4d"},"destination":{"id":"13729741-e01d-3bc8-bb74-c5f8a7b3c387","type":"INPUT_PORT","groupId":"1d2f2874-c25e-390e-ad34-27ab1c19d097","name":"decrypt_filename","instanceIdentifier":"1a05f1cc-0195-1000-a5e3-7189379dbdd8"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"896114bb-038c-32a3-b633-7df4935ae34c","instanceIdentifier":"19cd37ea-0195-1000-5323-5a3487d20d51","name":"","source":{"id":"19cc7d97-0195-1000-d474-ae6e6aabedaa","type":"PROCESSOR","groupId":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b","name":"GenerateRecord","comments":"","instanceIdentifier":"6d085067-1a3d-39ec-af7b-9631f5fc1a54"},"destination":{"id":"5105d2e7-b8c5-3421-b98c-bff7d0af858b","type":"INPUT_PORT","groupId":"5b913fa7-e09c-3735-9d65-d3537e68d650","name":"get_file_data","instanceIdentifier":"19cceb86-0195-1000-417c-7c2f89d9de59"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"f26be3d0-edd2-3310-ac7c-3433a3c0c423","instanceIdentifier":"19cf6b5a-0195-1000-7270-f83b5d7e1d7c","name":"","source":{"id":"19cc7d97-0195-1000-d474-ae6e6aabedaa","type":"PROCESSOR","groupId":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b","name":"GenerateRecord","comments":"","instanceIdentifier":"6d085067-1a3d-39ec-af7b-9631f5fc1a54"},"destination":{"id":"9e121f17-bce3-3d7c-af01-e8f56885db26","type":"INPUT_PORT","groupId":"0d7a5534-bc77-3850-b05e-2f36c0a6ccd1","name":"local_input_file","instanceIdentifier":"19d0674e-0195-1000-cc55-d05e3754389f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7c134556-c283-329e-9d11-eaf6bdd7e0aa","instanceIdentifier":"df9071f0-bd05-305a-a33f-a0a4ba7ee2bc","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"2b1bcbd1-7177-3919-80fa-01899cf627e6","instanceIdentifier":"c98a2404-06f2-3676-ae1b-9dae36f60ef0","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://10.78.166.34:5432/kpi_metrics","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"5c656a79-a709-398e-b314-b780787a597c","instanceIdentifier":"18b17416-0195-1000-faf4-deb0f1352671","name":"ADLSCredentialsControllerService","comments":"","type":"org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.2.0"},"properties":{"storage-account-name":"#{Storage Account Name}","storage-endpoint-suffix":"dfs.core.windows.net","storage-account-key":"#{Account_Key}","proxy-configuration-service":null,"credentials-type":"ACCOUNT_KEY"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-client-secret":{"name":"service-principal-client-secret","displayName":"Service Principal Client Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Endpoint Suffix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"storage-account-key":{"name":"storage-account-key","displayName":"Account Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-tenant-id":{"name":"service-principal-tenant-id","displayName":"Service Principal Tenant ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-client-id":{"name":"service-principal-client-id","displayName":"Service Principal Client ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"credentials-type":{"name":"credentials-type","displayName":"Credentials Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"managed-identity-client-id":{"name":"managed-identity-client-id","displayName":"Managed Identity Client ID","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.azure.storage.ADLSCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"347dd695-4e74-3dbf-845d-3198e729d394","instanceIdentifier":"52e229f0-72af-3f1c-1e55-72d950dd0ad7","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"c88c6981-44ff-3b10-89f0-b4f16b6af6a4","instanceIdentifier":"198c0001-0195-1000-ecb2-45ecd81462ca","name":"AzureStorageCredentialsControllerService_v12","comments":"","type":"org.apache.nifi.services.azure.storage.AzureStorageCredentialsControllerService_v12","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.2.0"},"properties":{"storage-account-name":"#{Storage Account Name}","storage-endpoint-suffix":"blob.core.windows.net","storage-account-key":"#{Account_Key}","proxy-configuration-service":null,"credentials-type":"ACCOUNT_KEY"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-client-secret":{"name":"service-principal-client-secret","displayName":"Service Principal Client Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"storage-endpoint-suffix":{"name":"storage-endpoint-suffix","displayName":"Endpoint Suffix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"storage-account-key":{"name":"storage-account-key","displayName":"Account Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-tenant-id":{"name":"service-principal-tenant-id","displayName":"Service Principal Tenant ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"service-principal-client-id":{"name":"service-principal-client-id","displayName":"Service Principal Client ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"credentials-type":{"name":"credentials-type","displayName":"Credentials Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"managed-identity-client-id":{"name":"managed-identity-client-id","displayName":"Managed Identity Client ID","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.azure.storage.AzureStorageCredentialsService_v12","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"22a1664d-d1c6-3d05-91b5-94281fa7957c","instanceIdentifier":"3fde7933-0cab-3e88-e6a9-a3bfa2465f73","name":"FreeFormTextRecordSetWriter","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"Text":null,"Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"ba738858-5dfa-3949-b35e-7415a81ec3c3","instanceIdentifier":"8eef6e7e-34f0-33f9-bf26-36540217518c","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"Timestamp Format":null,"schema-reference-reader":null,"Date Format":null,"schema-branch":null,"Max String Length":"20 MB","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"a2d351ef-cdab-36e9-9aa2-3c9d6944f8be","instanceIdentifier":"cfc56a8b-2af2-3d60-56f4-5fe1366820f3","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"2e1010e4-6d8b-33c3-832b-c87bf570c522","instanceIdentifier":"00d0d432-8eea-33e4-6bd0-a85d10a378c8","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"8d51d01b-9416-3123-b7a6-e644e2e378e2","instanceIdentifier":"18a5c8bd-0195-1000-1aa3-b39b2d08c278","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"350a9e5c-d8d6-3c1d-a60e-fd5f2805d468","instanceIdentifier":"e8696228-463b-383d-b697-8c8ce920e09f","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"b01f75a8-c0f2-38c3-8a17-8c2b684f37f8","instanceIdentifier":"fbe565d6-7bfe-342f-a818-85a8a49cad05","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://10.78.166.34:5432/kpi_metrics","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"},{"identifier":"97055b3d-e1dd-36d3-a5dc-bb3e1faaeaf9","instanceIdentifier":"18ae887d-0195-1000-56dc-4fec31726c40","name":"ParquetRecordSetWriter","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","avro-add-list-element-records":"true","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e05f1c0-7156-38e5-b99f-aacbeee6a55b"}],"parameterContextName":"CustomerDiscountContext","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{"CustomerDiscountContext":{"name":"CustomerDiscountContext","parameters":[{"name":"Storage Account Name","description":"","sensitive":true,"provided":false},{"name":"Account_Key","description":"","sensitive":true,"provided":false},{"name":"discount_percentage","description":"disount percentage","sensitive":false,"provided":false,"value":"10"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}